In [1]:
import pandas as pd
output = pd.read_parquet("output.parquet")

In [5]:
output[(output['type'] == 'left_hand')]

            type  landmark_index   x   y   z  frame
468    left_hand               0 NaN NaN NaN      1
469    left_hand               1 NaN NaN NaN      1
470    left_hand               2 NaN NaN NaN      1
471    left_hand               3 NaN NaN NaN      1
472    left_hand               4 NaN NaN NaN      1
...          ...             ...  ..  ..  ..    ...
20032  left_hand              16 NaN NaN NaN     37
20033  left_hand              17 NaN NaN NaN     37
20034  left_hand              18 NaN NaN NaN     37
20035  left_hand              19 NaN NaN NaN     37
20036  left_hand              20 NaN NaN NaN     37

[777 rows x 6 columns]